<div class="container">
	<div class="col-md-6">
		<h1>Sign up</h1>
		 <%= render "layouts/errors" %>
		<form action="<%= users_url %>" method="post">
		  <%= get_auth_token %>
			<div class="form-group">
			  <label for="email">Email</label>
				<input class="form-control" type="text" name="user[email]" id="email">
			</div>
			<div class="form-group">
			  <label for="password">Password</label>
				<input class="form-control" type="password" name="user[password]" id="password">
			</div>
			  <p><input class="btn btn-default" type="submit" value="Sign up"></p>
		</form>
	</div>
</div>