<h1 id="choose_your_desk">Choose Your Desk</h1>
<form class="form-horizontal" id="desk_selection">
	
	<div class="radio col-md-4">
		  <label>
		    <input type="radio" name="desk_type" id="desk_type_basic" value="basic">
		    Basic Desk
		  </label>
			<div class="desk-img">
				<img src="http://media.bellacor.com.edgesuite.net/images/500/21966360-MAPLE.jpg">
			</div>
	</div>
	
	<div class="radio col-md-4">
	  <label>
	    <input type="radio" name="desk_type" id="desk_type_standing" value="standing">
	    Standing Desk
	  </label>	
		<div class="desk-img">
			<img src="http://www.anthro.com/getmedia/7c4c95dd-3aab-47b0-ac36-6a31cda1cc5e/Anthro_Elevate-2_PLUS_Deep_60w_SMMP_Macs_Up_Stand">
		</div>
	</div>
	
	<div class="radio col-md-4">
	  <label>
	    <input type="radio" name="desk_type" id="desk_type_mega" value="mega">
	    Mega Desk
	  </label>
		<div class="desk-img">
			<img src="http://25.media.tumblr.com/tumblr_lorjfpJmDL1qfrpn3o1_500.png">
		</div>
	</div>

  <input type="submit" id="desk-select-button" class="btn btn-primary" value="Save Vote">
</form>
